---
import "./skip-links.css";
---

<ol class="skip-links">
  <li><a class="skip-links__link" href="#nav">Skip to page navigation</a></li>
  <li><a class="skip-links__link" href="#main">Skip to main content</a></li>
</ol>
