---
import "./hero.css";
---

<header class="hero">
  <div class="container container--grid">
    <div class="hero__image">
      <img src="/images/i-bookkeeper.svg" alt="" />
    </div>
    <hgroup class="hero__content">
      <h1 class="hero__headline">Hugh Robillard</h1>
      <p class="hero__byline">
        Bookkeeper with experience as <strong>treasurer</strong> and <strong
          >bookkeeper</strong
        > for multiple charities and personal private businesses and 35 years in
        project management for hi-tech companies.
      </p>
    </hgroup>
  </div>
</header>
