---
import Card from "../Card/Card.astro";
import Button from "../Button/Button.astro";
import "./direct-funding.css";
---

<section id="direct-funding" class="section direct-funding">
  <div class="container container--grid">
    <h2 class="section__title">What is Direct Funding?</h2>
    <div class="section__content">
      <p>
        Direct Funding is an innovative program enabling adults with physical
        disabilities to become employers of their own attendants.
      </p>
      <p>
        Attendants assist with routine activities of living, such as dressing,
        grooming and bathing.
      </p>
      <p>
        As employers, participants are fully responsible for managing their own
        employees within a budget that is developed on an individual basis. This
        includes taking full responsibility for recruiting, hiring, scheduling
        and paying your own attendants. You become the employer (or the
        self-manager), determining how and when your services are provided.
      </p>
      <p>
        The DF program provides the DF Manager with additional funding to hire a
        bookkeeper to support making payroll deductions (Canada Pension Plan,
        Employment Insurance and income tax), submitting quarterly Workplace
        Safety and Insurance Board (WSIB) remittances, and prepare year-end
        payroll documents (T4s).
      </p>
    </div>
    <Card>
      <h3 class="card__heading">Want more information about the program?</h3>
      <p class="card__byline">
        Visit the Direct Funding Ontario website to learn all of the details and
        how to apply.
      </p>
      <a
        href="https://www.dfontario.ca/"
        class="card__link"
        aria-label="Learn more about Direct Funding"
      >
        Learn more
        <i class="material-symbols-outlined" aria-hidden="true">arrow_forward</i
        >
      </a>
    </Card>
  </div>
</section>
