---
import "./about.css";
---

<section id="about" class="section about">
  <div class="container container--grid">
    <div class="section__image">
      <img src="/images/hugh-headshot-alt.jpg" alt="Hugh Robillard" />
    </div>
    <div class="section__content">
      <h2 class="section__title">About</h2>
      <p>
        I have extensive experience as a treasurer and bookkeeper. I am
        currently the treasurer for two charities, Kichi Sibi Winter Trails
        (local Ottawa charity) and Healing Pathway Society (Canada wide), and
        was previously treasurer for the Waupoos Foundation for 5 years. I owned
        and managed two small private companies where I handled all financial
        aspects of the companies while also managing employees and contractors.
        I also had a 35-year career working for hi-tech companies as a project
        manager during which I managed the development of electronic products
        and worked with clients to ensure their needs were met successfully
        while working within the needs and capabilities of our company.
      </p>
      <p>
        I am now retired and am looking to use the skills I have gained to
        provide help and services to others through the Direct Funding program
        as a bookkeeper.
      </p>
    </div>
  </div>
</section>
