<section id="contact">
  <div class="container">
    <h2>Contact</h2>
    <p>
      If you are interest in connecting or hiring me as a bookkeeper, please
      reach out by email.
    </p>
    <a href="mailto:hugh.robillard@gmail.com">hugh.robillard@gmail.com</a>
  </div>
</section>
