---
import "./contact.css";
---

<section id="contact" class="section contact">
  <div class="container">
    <div class="card card--hov-blue">
      <h2 class="section__title">Contact</h2>
      <p>
        If you are interest in connecting or hiring me as a bookkeeper, please
        reach out by email.
      </p>
      <a class="card__link" href="mailto:hugh.robillard@gmail.com">
        hugh.robillard@gmail.com
        <i class="material-symbols-outlined" aria-hidden="true">arrow_forward</i
        >
      </a>
    </div>
  </div>
</section>
