.navbar {
  /* border-block-end: var(--border); */

  /* background-color: hsl(from var(--color-green-light) h s l / 0.5); */
  background-color: var(--color-green);
  position: sticky;
  inset-block-start: 0;
  backdrop-filter: blur(0.75rem);
  border-block-start: 0.5rem solid var(--color-background);
  margin-block-start: -0.5rem;
  z-index: 10000;
}

.navbar__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;

  /* gap: var(--spacer-l); */
  justify-content: flex-end;
}

.navbar__link {
  text-decoration: none;
  color: var(--color-black);
  font-family: var(--font-secondary);
  font-weight: 600;
  padding-block: var(--spacer-ml);
  padding-inline: var(--spacer-base);
  display: inline-block;

  &:where(:hover, :focus-visible) {
    /* opacity: 0.5; */
    background-color: var(--color-blue);
  }
}
