---
import "./navbar.css";

const nav_items = [
  {
    url: "#direct-funding",
    label: "Direct Funding",
  },
  {
    url: "#about",
    label: "About",
  },
  {
    url: "#experience",
    label: "Experience",
  },
  {
    url: "#contact",
    label: "Contact",
  },
];
---

<header class="navbar">
  <div class="container">
    <!-- <a href="#">
      <h1>Hugh Robillard</h1>
    </a> -->

    <nav id="nav" class="navbar__nav">
      <ol class="navbar__list">
        {
          nav_items.map(({ url, label }) => (
            <li>
              <a class="navbar__link" href={url}>
                {label}
              </a>
            </li>
          ))
        }
      </ol>
    </nav>
  </div>
</header>
