---
import Footer from "../components/Footer/Footer.astro";
import Navbar from "../components/Navbar/Navbar.astro";
import SkipLinks from "../components/SkipLinks/SkipLinks.astro";
import "../styles/main.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Hugh Robillard - Direct Funding Bookkeeper</title>
    <meta
      name="description"
      content="Hugh Robillard is an experience treasurer and manager offering bookkeeping services to members of the Direct Funding Program."
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <SkipLinks />

    <Navbar />

    <main id="main">
      <slot />
    </main>

    <Footer />
  </body>
</html>
